#wrapperfull {
  display: none !important;
}

#task_view_detail {
  .bc-view-pp-left {
    width: 60%;
  }
}

#task_view_detail .bc-detal-task-title {
  width: 39%;
}

.log-time-popup,
.update-comment,
#form_add_comment {
  margin-right: 16px;
  padding: 0 16px 4px 16px;
  background: #fff none repeat scroll 0 0;
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.5);
  max-width: calc(100vw - 32px);
}

.log-time-popup .btn.btn-success.btn-success-log {
  margin: 0;
  max-width: 120px;
}

#form_update_comment .grid.create-task-custom {
  height: 520px;
}

.grid.create-task-custom .grid-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.grid.create-task-custom .grid-content .formRow {
  width: 66%;
  float: none;
  padding-top: 0;
  padding-right: 48px;
}

.log-time-popup .grid.create-task-custom .grid-content .formRow .formRight,
.update-comment .grid.create-task-custom .grid-content .formRow .formRight,
#form_add_comment .grid.create-task-custom .grid-content .formRow .formRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  float: none;
  overflow: unset;
}

.log-time-popup .grid.create-task-custom .grid-content label,
.update-comment .grid.create-task-custom .grid-content label,
#form_add_comment .grid.create-task-custom .grid-content label {
  float: none;
}

.update-comment .grid.create-task-custom .formRowComment .btn,
#form_add_comment .grid.create-task-custom .formRowComment .btn {
  margin-right: 50%;
  font-weight: 700;
  border-radius: 6px;
  padding: 8px 24px;
}

.bc-comment-task .wrap_comment {
  margin-bottom: 380px;
}

.pull-right.bc-pull-right-custom {
  width: 25%;
  position: fixed;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  top: 103px;
  right: 16px;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0), #a0afff);
  padding: 12px 20px 6px 0;
  z-index: 999;
}

.pull-right.bc-pull-right-custom .btn {
  border-radius: 6px;
  font-weight: 700;
  padding: 8px 24px;
}

.log-time-popup .grid.create-task-custom,
.update-comment .grid.create-task-custom,
#form_add_comment .grid.create-task-custom {
  margin-top: 12px;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url("https://res.cloudinary.com/dmnntmjiv/image/upload/v1702635528/anime-girl_l6n5sg.png");
  background-position-x: 450px;
}

#form_add_comment .grid.create-task-custom {
  border: none;
}

#form_add_comment .grid.create-task-custom .formRowComment {
  height: 600px;
}

#form_add_comment .grid.create-task-custom .formRowComment #cke_comment {
  width: 68%;
}

.log-time-popup .cke_toolbox .cke_toolbar_break,
.update-comment .cke_toolbox .cke_toolbar_break,
.update-comment .cke_toolbox .cke_toolbar_break,
.update-comment .cke_toolbox .cke_toolbar_break {
  display: none;
}

.cke_contents:not(.task-note + #cke_content .cke_contents) {
  height: 300px !important;
}

#form_note .create-task-custom .formRowComment {
  height: 372px;
}

#form_note .create-task-custom .formRowComment .formRight {
  width: 100%;
}

#form_add_comment {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.bc-wrap-taskdetail .bc-view-pp-left .change-task-status-container {
  width: 25%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 164px;
  right: 16px;
  background-image: linear-gradient(to right,
      rgba(0, 0, 255, 0),
      rgb(160, 175, 255));
  z-index: 999;
  gap: 16px;
  padding: 6px 20px 12px 0px;
  font-weight: 700;
}

.bc-wrap-taskdetail .bc-view-pp-left .change-task-status-container .bc-title-inner {
  line-height: 36px;
  width: 75px;
  color: rgb(0, 0, 0);
}

.bc-wrap-taskdetail #update_status_task {
  border-radius: 6px;
  padding: 8px;
  height: 36px;
}

a.cd-top {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 60px;
  right: 30px;
  background: rgba(232, 98, 86, 0.8) url("https://res.cloudinary.com/dmnntmjiv/image/upload/v1703209841/chevron-up-solid_jc9cla.svg") no-repeat center 50%;
  background-size: 60%;
  z-index: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: visibility 0.2s, opacity 0.2s linear;
}

a.cd-top.cd-is-visible {
  opacity: 1;
  display: inline-block;
  visibility: visible;
}

a.cd-top.cd-is-visible:hover {
  background-color: rgb(117, 117, 117);
}

#toBotBtn {
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  background: rgba(232, 98, 86, 0.8) url("https://res.cloudinary.com/dmnntmjiv/image/upload/v1703209841/chevron-down-solid_vkasqk.svg") no-repeat center 50%;
  background-size: 60%;
  z-index: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: visibility 0.2s, opacity 0.2s linear;
}

#toBotBtn:hover {
  background-color: rgb(117, 117, 117);
}

.bc-view-pp-right p:last-child .bc-title-inner {
  line-height: 29px;
  font-weight: 700;
  color: #000;
}

body .container.container_wrap .jumbotron {
  position: relative;
  padding: 52px 0 10px 0;
}

.navbar.navbar-default {
  position: fixed;
  top: 0;
  width: calc(100% - 30px);
  z-index: 1000;
}

.navbar.navbar-default {
  background-color: rgb(130, 147, 245) !important;
}

.navbar-default .navbar-nav>li.dropdown:hover {
  background-color: rgb(77, 99, 228) !important;
}

.navbar-default .navbar-nav>.open>a.dropdown-toggle {
  background-color: rgb(92, 112, 230) !important;
}

#navbar .navbar-nav .dropdown-menu li a:hover {
  background-color: rgb(77, 99, 228) !important;
  color: white;
}